{:kotoba.app/id "cloud.itonami.isic-6611", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreifatxnkzjcj7if25q6kvvait7ipxv7mq36gshojg3oljfbxvmj4pe", :kotoba.app/embed-url "ipfs://bafkreifatxnkzjcj7if25q6kvvait7ipxv7mq36gshojg3oljfbxvmj4pe", :published {:archive "https://kotobase.net/ipfs/bafkreifatxnkzjcj7if25q6kvvait7ipxv7mq36gshojg3oljfbxvmj4pe", :size 74440, :put-status 201, :get-status 200, :at "2026-08-15T13:46:48.826Z"}}
